<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" defaultlocale="en-US" id="com.otv.myhome" version="1.0.1" windows-packageVersion="1.0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
    <name>myHome</name>
    <description>Control your esp devices.</description>
    <author email="priyank.chouksey@gmail.com" href="http://www.ojalthevision.com">Avengers</author>
    <access origin="*" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <allow-intent href="market:*" />
        <hook src="hooks/beforePrepare.js" type="before_prepare" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook src="hooks/beforePrepare.js" type="before_prepare" />
    </platform>
    <platform name="browser">
        <allow-intent href="market:*" />
    </platform>
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="23" />
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
</widget>
